.pokedex-grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 16px;
  text-transform: capitalize;
  padding: 12px;
}

@media (min-width: 640px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .pokedex-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .pokedex-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .pokedex-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1536px) {
  .pokedex-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
